@import "./variables";
@import "./base/normalize";
@import "./components/base-style";
@import "./components/visually-hidden";
@import "./components/page-header-nav";
@import "./components/logo";
@import "./components/site-nav";
@import "./components/address-link";

















.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}













